.projectboxmain, .projectboxreversemain {
    height: 450px;
    width: 475px;
    display: flex;
    flex-direction: column;
    color: rgb(180, 176, 176);
    position: relative;
    border-radius: 8px;
}
.projectboxreversemain {
    height: 460px;
}
.projectboxmain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.322) 0.1%, rgb(68, 68, 68) 25%);
}
.projectboxreversemain {
    background-image: linear-gradient(rgb(68, 68, 68) 70%, rgba(0, 0, 0, 0.473) 100%);
}
.projectname {
    font-size: 30px;
    padding-top: 25px;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
}
.projectaddress {
    padding-bottom: 25px;
}
.projectimage {
    height: 355px;
    width: 100%;
}
img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}
@media (max-width: 1075px){
    .projectboxmain {
        margin-bottom: 125px;
    }
    .projectboxreversemain {
        margin-bottom: 25px;
    }
}
@media (max-width: 500px){
    .projectboxmain, .projectboxreversemain {
        height: 475px;
        width: 100vw;
    }
    .projectimage {
        height: 370px;
    }
    .projectname {
        font-size: 30px;
    }
}
@media (max-width: 400px){
    .projectboxmain, .projectboxreversemain {
        height: 410px;
    }
    .projectimage {
        height: 310px;
    }
    .projectname {
        font-size: 25px;
    }
    .projecttitle {
        font-size: 45px;
    }
}