.projectboxmain, .projectboxreversemain {
    min-height: 300px;
    width: 550px;
    background-color: rgb(160, 145, 145);
    display: flex;
    flex-direction: column;
    color: rgb(180, 176, 176);
    position: relative;
    border-radius: 8px;
    border: solid 1px rgb(121, 118, 118);
}
.projectboxmain {
    background-image: linear-gradient(rgb(24, 23, 23) 1%, rgb(255, 255, 255));
}
.projectboxreversemain {
    background-image: linear-gradient(rgb(255, 255, 255) 10%, rgb(24, 23, 23));
}
.projectname {
    font-size: 35px;
    padding-top: 25px;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 900;
}
.projectaddress {
    padding-bottom: 25px;
}
.projectimage {
    height: 400px;
    width: 100%;
}
img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}