.aboutmain {
    min-height: 100vh;
    background-image: linear-gradient(to top left,  rgb(112, 27, 27), rgb(66, 20, 20));
    color: white;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#about {
    width: 100%;
    position: absolute;
    top: -80px;
}
.abouttitle {
    font-size: 50px;
    padding-top: 100px;
    color: rgb(231, 209, 209);
    text-shadow: -1px 0 rgb(255, 0, 0), 0 1px rgb(255, 0, 0), 0 -1px rgb(255, 0, 0);
    font-style: italic;
    font-family: 'Permanent Marker';
}
.abouttitledescr {
    padding-top: 10px;
    font-style: italic;
}