.aboutmain {
    min-height: 100vh;
    background-image: linear-gradient(to top left,  rgb(151, 27, 27), rgb(66, 20, 20));
    color: white;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#about {
    width: 100%;
    position: absolute;
    top: -80px;
}
.abouttitle {
    font-size: 50px;
    padding-top: 100px;
    color: rgb(231, 209, 209);
    text-shadow: -1px 0 rgb(255, 0, 0), 0 1px rgb(255, 0, 0), 0 -1px rgb(255, 0, 0);
    font-style: italic;
    font-family: 'Permanent Marker';
}
.abouttitledescr {
    padding-top: 10px;
    font-style: italic;
    padding-bottom: 50px;
}
.timelinecontainer {
    display: flex;
}
.timelineleft {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
}
.timelineright {
    flex: 1;
    background-color: blue;
    height: 500px;
    width: 100%;
}
#timelinelength {
    width: 5px;
    margin: 5px 0px;
    height: 100px;
    transition: 1s ease-in-out;
    background-color: rgb(46, 46, 46);
    border-radius: 3px;
}
#timelinelengthactive {
    width: 5px;
    margin: 5px 0px;
    transition: 1s ease-in-out;
    height: 100px;
    background-color: rgb(179, 179, 179);
    border-radius: 3px;
}
#triangle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    animation-name: reversetriangle;
    animation-duration: 1s;
    
}
#triangleactive {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(112, 112, 112);
        animation-name: triangle;
        animation-duration: 1s;
        border: 3px solid rgb(37, 37, 37);
}
button {
    background-color: transparent;
    border: none;
}
@keyframes triangle {
    0% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
    }
    50% {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(112, 112, 112);
        border: 2px solid rgb(39, 39, 39);
    }
}
@keyframes reversetriangle {
    0%{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(112, 112, 112);
        animation-name: triangle;
        animation-duration: 1s;
        border: 3px solid rgb(37, 37, 37);
    }
    50%{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(112, 112, 112);
        border: 2px solid rgb(39, 39, 39);
    }
}
