.aboutmain {
    min-height: 100vh;
    background-image: linear-gradient(to top left,  rgb(151, 27, 27), rgb(66, 20, 20));
    color: white;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#about {
    width: 100%;
    position: absolute;
    top: -80px;
}
.abouttitle {
    font-size: 50px;
    padding-top: 100px;
    color: rgb(231, 209, 209);
    text-shadow: -1px 0 rgb(255, 0, 0), 0 1px rgb(255, 0, 0), 0 -1px rgb(255, 0, 0);
    font-style: italic;
    font-family: 'Permanent Marker';
}
.abouttitledescr {
    padding-top: 10px;
    font-style: italic;
    padding-bottom: 50px;
}
.timelinecontainer {
    display: flex;
}
.timelineleft {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
}
.timelineright {
    flex: 1;
    background-color: blue;
    height: 500px;
    width: 100%;
}
#timelinelength {
    width: 5px;
    margin: 5px 0px;
    height: 100px;
    background-color: rgb(46, 46, 46);
    border-radius: 3px;
}
#timelinelengthactive {
    width: 5px;
    margin: 5px 0px;
    height: 100px;
    background-color: rgb(179, 179, 179);
    border-radius: 3px;
}
#triangle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    
}
#triangleactive {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid red;
    border-bottom: 25px solid transparent;
    margin-left: 47px;
    background-color: transparent;
    animation-name: triangle;
    animation-duration: 10s;
}
#triangleactive {
    background-color: 
}
button {
    background-color: transparent;
    border: none;
}
@keyframes triangle {
    from {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid rgb(204, 204, 204);
    margin-left: 0px;
    }
    to {
    border-top: 25px solid transparent;
    border-left: 50px solid red;
    border-bottom: 25px solid transparent;
    margin-left: 50px;
    }
}
