.aboutmain {
    min-height: calc(100vh - 75px);
    background-image: linear-gradient(to top left,  rgb(112, 27, 27), rgb(66, 20, 20));
    color: white;
    background-color: transparent;
    position: relative;
    width: 100%;
}
#aboutanchor {
    width: 100%;
    position: absolute;
    top: -80px;
}
.abouttitle {
    font-size: 50px;
    padding-top: 100px;
    color: rgb(231, 209, 209);
    font-style: italic;
    font-family: 'Permanent Marker';
}
.abouttitledescr {
    padding-top: 10px;
    font-style: italic;
}