.aboutmain {
    min-height: 100vh;
    background-image: linear-gradient(to top left,  rgb(112, 27, 27), rgb(66, 20, 20));
    color: white;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#about {
    width: 100%;
    position: absolute;
    top: -80px;
}
.abouttitle {
    font-size: 50px;
    padding-top: 100px;
    color: rgb(231, 209, 209);
    text-shadow: -1px 0 rgb(255, 0, 0), 0 1px rgb(255, 0, 0), 0 -1px rgb(255, 0, 0);
    font-style: italic;
    font-family: 'Permanent Marker';
}
.abouttitledescr {
    padding-top: 10px;
    font-style: italic;
    padding-bottom: 50px;
}
.timelinecontainer {
    display: flex;
}
.timelineleft {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
}
.timelineright {
    flex: 1;
    background-color: blue;
    height: 500px;
    width: 100%;
}
#timelinelength {
    width: 5px;
    margin: 5px 0px;
    height: 100px;
    background-color: rgb(46, 46, 46);
    border-radius: 3px;
}
#timelinelengthactive {
    width: 5px;
    margin: 5px 0px;
    height: 100px;
    background-color: rgb(179, 179, 179);
    border-radius: 3px;
}
#circle {
    border-radius: 49%;
    height: 12px;
    width: 12px;
    background-color: white;
    border: none;
}
#circleactive {
    border-radius: 50%;
    border: solid 2px white;
    height: 30px;
    width: 30px;
    background-color: rgb(10, 10, 10);
}