.aboutmain {
    min-height: 100vh;
    background-image: linear-gradient(to top left,  rgb(207, 3, 3) 5%, rgb(66, 20, 20));
    color: white;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#about {
    width: 100%;
    position: absolute;
    top: -80px;
}
.abouttitle {
    font-size: 50px;
    padding-top: 100px;
    color: rgb(231, 209, 209);
    text-shadow: -1px 0 rgb(255, 0, 0), 0 1px rgb(255, 0, 0), 0 -1px rgb(255, 0, 0);
    font-style: italic;
    font-family: 'Permanent Marker';
}
.abouttitledescr {
    padding-top: 10px;
    font-style: italic;
    padding-bottom: 50px;
}
.timelinecontainer {
    display: flex;
    position: relative;
}
.timelineleft {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
}
.timelineright {
    flex: 1;
    background-color: transparent;
    border-radius: 3px;
    height: 500px;
    position: relative;
    width: 100%;
}
#timelinelength {
    width: 5px;
    margin: 5px 0px;
    height: 100px;
    transition: 1s ease-in-out;
    background-color: rgb(46, 46, 46);
    border-radius: 3px;
}
#timelinelengthactive {
    width: 5px;
    margin: 5px 0px;
    transition: 1s ease-in-out;
    height: 100px;
    background-color: rgb(179, 179, 179);
    border-radius: 3px;
}
#circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    animation-name: reversecircle;
    animation-duration: 1s;
    
}
#circleactive {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(112, 112, 112);
        animation-name: circle;
        animation-duration: 1s;
        border: 3px solid rgb(37, 37, 37);
}
.abouttextshown {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2.0s ease-in-out;
    transition-delay: 0.5s;
    opacity: 1;
    padding-right: 100px;
}
.abouttexthidden {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    opacity: 0;
    padding-right: 100px;
}
@keyframes circle {
    0% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
    }
    50% {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: rgb(112, 112, 112);
        border: 2px solid rgb(39, 39, 39);
    }
}
@keyframes reversecircle {
    0%{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(112, 112, 112);
        animation-name: circle;
        animation-duration: 1s;
        border: 3px solid rgb(37, 37, 37);
    }
    50%{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: rgb(112, 112, 112);
        border: 2px solid rgb(39, 39, 39);
    }
}
@media (max-width: 750px){
    .timelinecontainer {
        flex-direction: column;
    }
    .abouttexthidden, .abouttextshown {
        padding: 0 35px;
    }
}
@media (max-width: 400px){
    .abouttitle {
        font-size: 45px;
    }
}
