.bottomnavbarmain {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.616);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(65, 64, 64);
    font-size: 35px;
    font-family: 'Permanent Marker';
    transition: text-shadow 0.7s ease-in-out;
    text-shadow: -3px 0 rgb(128, 128, 128), -3px 0 rgb(129, 129, 129);
}
.bottomnavbarmainsticky {
    position: fixed;
    top: 80px;
    height: 75px;
    width: 100%;
    z-index: 100;
    transition: text-shadow 0.7s ease-in-out, background-color 3s ease-in-out;    
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(65, 64, 64);
    font-size: 35px;
    font-family: 'Permanent Marker';
    text-shadow: -3px 0 rgb(73, 73, 73), -3px 0 rgb(73, 73, 73);
}
.icons {
    height: 30px;
    width: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.abouttag, .projectstag, .contacttag {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    z-index: 99;
}
.abouttag:hover, .projectstag:hover, .contacttag:hover {
    color: rgb(196, 196, 196);
}
#bottomnavbarcontainer {
    position: relative;
}
.transitionnavbarhidden {
    position: absolute;
    height: 75px;
    width: 100%;
    background-image: radial-gradient(circle at 50% -200px, rgb(0, 0, 0) 0%, rgb(46, 46, 46));
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.transitionnavbar {
    position: absolute;
    height: 75px;
    width: 100%;
    background-image: radial-gradient(circle at 50% -200px, rgb(0, 0, 0) 0%, rgb(46, 46, 46));
    opacity: 1;
    transition: 0.2s ease-in-out;
    z-index: -1;
}
@media (max-width: 575px){
    .bottomnavbarmain, .bottomnavbarmainsticky {
        font-size: 25px;
    }
}
@media (max-width: 355px){
    .bottomnavbarmain, .bottomnavbarmainsticky {
        font-size: 20px;
    }
}
