#contactmain {
    height: 355px;
    color: black;
    width: 100%;
    background-image: linear-gradient(to top left,  rgb(119, 119, 119), rgb(45, 45, 45));
    position: relative;
}
.contactbox {
    height: 250px;
    width: calc(100% - 100px);
    border: solid 5px rgb(36, 36, 36);
    background-image: linear-gradient(to top right rgb(70, 70, 70), rgb(145, 145, 145));
    color: rgb(48, 48, 48);
    font-style: italic;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 900;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 7px 8px 5px #0505055d;
    text-align: center;
}
.contactnames {
    font-family: 'Permanent Marker';
    font-size: 32px;
}
p {
    font-size: 25px;
    padding: 5px 0px;
}
.emails {
    padding-top: 10px;
    padding-left: 5px;
}
.indvcontacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.contacttitle {
    font-family: 'Permanent Marker';
    font-weight: 100;
}
.contactinfoc, .contactinfow, .topsection{
    display: flex;
}
.rowleyouthouse {
    height: 65px;
    justify-content: flex-start;
    width: auto;
}
.outhouse {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-top: 10px;
}
.createdby {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-style: italic;
    font-weight: 500;
    color: rgb(58, 58, 58);
}
@media (max-width: 1050px){
    .indvcontacts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactmain {
        height: 400px;
    }
    .contactbox {
        height: 300px;
    }
}
@media (max-width: 600px){
    .contactinfoc, .contactinfow {
        flex-direction: column;
    }
    .contactmain {
        height: 500px;
    }
    .contactbox {
        height: 350px;
    }
}
@media (max-width: 410px) {
    .contacttitle {
        font-size: 45px;
    }
    .contactnames {
        font-size: 25px;
    }
    .emails {
        font-size: 20px;
    }
}
@media (max-width: 375px){
    .contactbox {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 350px){
    .contacttitle {
        font-size: 40px;
    }
}