.contactmain {
    height: 275px;
    color: black;
    width: 100%;
    background-image: linear-gradient(to top left,  rgb(138, 41, 41), rgb(66, 20, 20));
    position: relative;
}
.contactbox {
    padding-top: 15px;
    height: 175px;
    width: calc(100% - 100px);
    border: solid 5px rgb(109, 27, 27);
    background-image: linear-gradient(to bottom left, rgb(170, 48, 48), rgb(211, 52, 52));
    color: rgb(231, 209, 209);
    font-style: italic;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 900;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 7px 8px #0806066e;
    text-align: center;
}
.contactnames {
    font-family: 'Permanent Marker';
    font-size: 32px;
}
p {
    font-size: 25px;
    padding: 5px 0px;
}
.emails {
    padding-top: 10px;
    padding-left: 5px;
}
.indvcontacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.contacttitle {
    font-family: 'Permanent Marker';
    font-weight: 100;
}
.contactinfoc, .contactinfow {
    display: flex;
}
