.landingmain {
    color: rgb(238, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    z-index: -50;
}
.rpititle {
    font-family: 'Mr Dafoe', cursive;
    font-size: 150px;
    display: flex;
    justify-content: flex-start;
    padding-left: 7px;
}
span {
    font-size: 45px;
    display: flex;
    padding-bottom: 27px;
    justify-content: center;
    align-items: flex-end;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}

