.landingcovermain {
    background-image: url('../Images/RPI\ Home\ Image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: -100;
}
.landingcovertwomain {
    background-image: url('../Images/BlurredDesert.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: -98;
}