.landingmain {
    color: rgb(233, 229, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 125px);
}
.rpititle {
    font-family: 'Mr Dafoe', cursive;
    font-size: 150px;
    display: flex;
    justify-content: flex-start;
    padding-left: 7px;
}
span {
    font-size: 45px;
    display: flex;
    padding-bottom: 27px;
    justify-content: center;
    align-items: flex-end;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}

