.landingmain {
    color: rgb(83, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;
    z-index: -50;
}
.rpititle {
    font-family: 'Mr Dafoe', cursive;
    width: 100%;
    font-size: 150px;
    text-shadow: -2px 0 rgb(255, 0, 0), 0 2px rgb(255, 0, 0);
    display: flex;
    padding-bottom: 30px;
    justify-content: flex-start;
    padding-left: 25px;
}
span {
    font-size: 45px;
    text-shadow: -1px 0 rgb(58, 55, 55), 0 1px rgb(58, 55, 55);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
}
.established {
    font-size: 15px;
    color: rgb(56, 55, 55);
    text-shadow: none;
    font-weight: 100;
    padding-top: 10px;
    padding-right: 40px;
}
.secondarytitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

