.landingcovermain {
    background-image: url('../Images/RPI\ Home\ Image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 75px);
    width: 100%;
    position: sticky;
    top: 75px;
    left: 0;
    right: 0;
    z-index: -100;
}