.navbarmainh {
    background-image: linear-gradient(to right, rgb(24, 24, 24), rgb(0, 0, 0), rgb(39, 32, 32));;
    width: 100%;
    height: 75px;
    padding: 25px 0px;
    transition: padding 0.9s ease-in-out;
    display: flex;
    color: transparent;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'Permanent Marker';    border-bottom: solid 5px white;
}
.navbarmainsh {
    background-image: linear-gradient(to right, rgb(24, 24, 24), rgb(0, 0, 0), rgb(39, 32, 32));;
    padding: 0px 0px;
    transition: padding 1s ease-in-out;
    text-shadow: -2px 0 rgb(107, 107, 107), 0 2px rgb(107, 107, 107), 0 -2px rgb(107, 107, 107);
    width: 100%;
    height: 75px;
    display: flex;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'Permanent Marker';
    border-bottom: solid 5px white;
    z-index: 100;
}
.logoh, .logosh {
    padding-top: 13px;
    flex: 1;
}
.rowleylogo {
    max-height: 100px;
    width: auto;
    padding-bottom: 10px;
    transition: 1.1s ease-in-out;
}
.rowleylogosmall {
    max-height: 65px;
    width: auto;
    padding-bottom: 10px;
    transition: 1.2s ease-in-out;
}
.logosh, .aboutsh, .contactsh, .projectssh {
    cursor: pointer;
}
.abouth, .contacth, .projectsh {
    transition: 0.8s ease-in-out;
    color: transparent;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 0;
}
.aboutsh, .contactsh, .projectssh {
    transition: 1.5s ease-in-out;
    color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex: 1;
    height: 50px;
}
.contactsh {
    display: relative;
}
.hiddenmenubuttonsh {
    position: absolute;
    top: 15px;
    right: 30px;
    opacity: 1;
    transition: 1s ease-in-out;
}
.hiddenmenubuttonh {
    position: absolute;
    top: 15px;
    right: -15px;
    opacity: 0;
    transition: 1s ease-in-out;
}
.completenavbar {
    position: relative;
}
.hiddennavbarh {
    position: absolute;
    top: 80px;
    right: 0;
    overflow: hidden;
    border-radius: 3px;
}
.hiddennavbar {
    position: absolute;
    top: 80px;
    right: 0;
    overflow: hidden;
    border-radius: 3px;
}
.hiddenmenuimage {
    height: 25px;
    width: auto;
    padding-top: 10px;
}
.abouthiddenmenuh, .projecthiddenmenuh, .contacthiddenmenuh {
    background-image: linear-gradient(to bottom right, rgb(100, 100, 100), black);
    text-shadow: -2px 0 rgb(31, 31, 31), 0 2px rgb(31, 31, 31), 0 -2px rgb(32, 32, 32);    
    height: 0px;
    width: 200px;
    opacity: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid white;
    color: rgb(209, 209, 209);
    transition: 0.5s ease-in-out;
}
.abouthiddenmenu, .projecthiddenmenu, .contacthiddenmenu {
    background-image: linear-gradient(to bottom right, rgb(71, 71, 71), black);
    text-shadow: -2px 0 rgb(31, 31, 31), 0 2px rgb(31, 31, 31), 0 -2px rgb(32, 32, 32);    
    height: 65px;
    width: 200px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid white;
    color: rgb(209, 209, 209);
    transition: 0.5s ease-in-out;
}
@media (max-width: 650px){
    .aboutsh, .contactsh, .projectssh {
        display: none;
    }
    .hiddenmenubuttonsh {
        display: block;
    }
}
