.navbarmainh {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 75px;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    max-width: 100px;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    border-bottom-right-radius: 10px;
}
.logo {
    padding-top: 13px;
}
.rowleylogo {
    max-height: 65px;
    width: auto;
    padding-bottom: 10px;
}
.rowleylogo, .abouth, .contacth, .projectsh {
    cursor: pointer;
}
.abouth, .contacth, .projectsh {
    display: none;
}
