.projectsmain {
    min-height: calc(100vh - 75px);
    background-color: transparent;
    color: white;
    z-index: 1;
    position: relative;
}
#projectanchor {
    position: absolute;
    top: -80px;
}
.projecttitle {
    font-size: 50px;
    font-weight: 700;
    padding-top: 100px;
    color: rgb(160, 145, 145);
    font-style: italic;
    font-family: 'Permanent Marker';
}
.projecttitledescr {
    padding-top: 10px;
    font-style: italic;
}
.projectboxblockone, .projectboxblocktwo, .projectboxblockthree, .projectboxblockfour, .projectboxblockfive, .projectboxblocksix {
    display: flex;
    justify-content: space-around;
}
.projectboxblocktwo, .projectboxblockthree, .projectboxblockfour, .projectboxblockfive, .projectboxblocksix {
    padding-top: 100px;
}
.projectboxblockone {
    padding-top: 200px;
}
.projectboxblocksix {
    padding-bottom: 300px;
}