.projectsmain {
    padding-top: 100px;
    min-height: calc(100vh - 75px);
    background-color: transparent;
    color: rgb(73, 72, 72);
    z-index: 1;
    position: relative;
}
#projects {
    position: absolute;
    top: -80px;
}
.projecttitle {
    font-size: 50px;
    font-weight: 700;
    color: rgb(65, 65, 65);
    font-style: italic;
    font-family: 'Permanent Marker';
    text-shadow: -1px 0 rgb(253, 251, 251), 0 1px rgb(253, 251, 251), 0 -1px rgb(253, 251, 251);
}
.projecttitledescr {
    padding-top: 10px;
    font-style: italic;
}
.projectboxblockone, .projectboxblocktwo, .projectboxblockthree, .projectboxblockfour, .projectboxblockfive, .projectboxblocksix {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}
.projectboxblocktwo, .projectboxblockthree, .projectboxblockfour, .projectboxblockfive, .projectboxblocksix {
    padding-top: 100px;
}
.projectboxblockone {
    padding-top: 200px;
}
.projectboxblocksix {
    padding-bottom: 300px;
}
@media (max-width: 1075px){
    .projectboxblockone, .projectboxblocktwo, .projectboxblockthree, .projectboxblockfour, .projectboxblockfive, .projectboxblocksix {
        flex-direction: column;
    }
    .projectscontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1000px){
    .projectboxblocksix {
        padding-bottom: 150px;
    }
}
@media (max-width: 750px){
    #projects {
        top: 450px;
    }
}
@media (max-width: 580px){
    .projectboxblockone, .projectboxblocktwo, .projectboxblockthree, .projectboxblockfour, .projectboxblockfive, .projectboxblocksix {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 500px){
    .projectboxblockone {
        padding-top: 150px;
    }
}
