.projectsmain {
    min-height: calc(100vh - 75px);
    background-color: transparent;
    color: rgb(73, 72, 72);
    z-index: 1;
    position: relative;
}
#projectanchor {
    position: absolute;
    top: -80px;
}
.projecttitle {
    font-size: 50px;
    font-weight: 700;
    padding-top: 100px;
    color: rgb(65, 65, 65);
    font-style: italic;
    font-family: 'Permanent Marker';
    text-shadow: -1px 0 rgb(253, 251, 251), 0 1px rgb(253, 251, 251), 0 -1px rgb(253, 251, 251);
}
.projecttitledescr {
    padding-top: 10px;
    font-style: italic;
}
.projectboxblockone, .projectboxblocktwo, .projectboxblockthree, .projectboxblockfour, .projectboxblockfive, .projectboxblocksix {
    display: flex;
    justify-content: space-around;
}
.projectboxblocktwo, .projectboxblockthree, .projectboxblockfour, .projectboxblockfive, .projectboxblocksix {
    padding-top: 100px;
}
.projectboxblockone {
    padding-top: 200px;
}
.projectboxblocksix {
    padding-bottom: 300px;
}